<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.traversebd.calorie_hunter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.nutritiontips.NutritionTipsDetailsActivity"></activity>
        <activity android:name=".activities.nutritiontips.NutritionTipsListActivity" />
        <activity android:name=".activities.mealplan.NewMealPlanActivity" />
        <activity android:name=".activities.mealplan.MealPlanListActivity" />
        <activity android:name=".activities.healthtips.HaelthTipsDetailsActivity" />
        <activity android:name=".activities.healthtips.HealthTipsListActivity" />
        <activity android:name=".activities.fooditems.FoodDetailsActivity" />
        <activity android:name=".activities.fooditems.FoodListActivity" />
        <activity android:name=".activities.base.SplashActivity" />
        <activity android:name=".activities.calculatecalorie.CalorieResultActivity" />
        <activity android:name=".activities.calculatecalorie.CalculateCalorieActivity" />
        <activity android:name=".activities.base.HomeActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>